
:root {
  --baby-blue:#aee3ff;
  --baby-pink:#ffb7d5;
  --baby-yellow:#fff4a9;
  --baby-green:#c8ffd0;
  --baby-purple:#e1c6ff;

  --white:#ffffff;
  --gray:#3a3a3a;
  --soft-dark:#202020;

  --bg: #ffffff;
  --bg2:#f5f7fa;
  --text: #333;
  --card:#ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, var(--baby-blue), var(--baby-purple), var(--baby-pink));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fundoMove 10s infinite alternate ease-in-out;
    background-size: 300%;
}

@keyframes fundoMove {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

.container {
    width: 100%;
    max-width: 460px;
}

.card {
    background: var(--card);
    padding: 28px;
    border-radius: 25px;
    border: 4px solid var(--baby-yellow);
    box-shadow: 0 0 20px var(--baby-yellow), 0 0 35px var(--baby-pink);
    animation: subir 0.6s ease;
}

@keyframes subir {
    from { transform: translateY(20px); opacity: 0; }
    to   { transform: translateY(0); opacity: 1; }
}

.card h2 {
    text-align: center;
    color: var(--baby-pink);
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 20px;
    text-shadow: 0 0 8px var(--baby-purple);
}

label {
    color: var(--baby-pink);
    font-size: 15px;
    font-weight: 600;
    margin-left: 3px;
}

input, select {
    width: 100%;
    padding: 12px;
    margin: 6px 0 18px;
    border-radius: 12px;
    border: 2px solid var(--baby-purple);
    background: var(--baby-blue);
    outline: none;
    transition: 0.25s;
    font-size: 14px;
    color: var(--text);
}

input:focus,
select:focus {
    border-color: var(--baby-pink);
    box-shadow: 0 0 8px var(--baby-purple);
}

.linha {
    display: flex;
    gap: 12px;
}

button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 14px;
    background: linear-gradient(135deg, var(--baby-pink), var(--baby-purple));
    color: var(--soft-dark);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.25s;
    box-shadow: 0 5px 12px var(--baby-purple);
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 7px 15px var(--baby-pink);
}

button:active {
    transform: scale(0.97);
}

